<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>HappyFace benötigt Zugriff auf die Kamera, um deine Gesichtsausdrücke zu analysieren und dein Happiness-Level zu tracken.</string>
</dict>
</plist>
